@{
    ViewData["Title"] = "Customer Info";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<b>Customer:</b> @ViewData["Name"]<br />
<b>City:</b> @ViewData["City"]<br />
<b>State:</b> @ViewData["State"]<br />
<b>Zip:</b> @ViewData["Zip"]<br />
