@{
    ViewData["Title"] = "Works On My Machine: About-Environment Configuration";
}
<h2>@ViewData["Title"]</h2>
<img src="~/images/DockerToolsForVSLogo.png" /><br />
<br />

<b>HostName:</b> @ViewData["HOSTNAME"]<br />
<b>OS Architecture:</b> @ViewData["OSARCHITECTURE"]<br />
<b>OS Description:</b> @ViewData["OSDESCRIPTION"]<br />
<b>OS Architecture:</b> @ViewData["OSARCHITECTURE"]<br />
<b>Process Architecture:</b> @ViewData["PROCESSARCHITECTURE"]<br />
<b>Framework Description:</b> @ViewData["FRAMEWORKDESCRIPTION"]<br />
<b>ASP.NET Hosting Environment:</b> @ViewData["HOSTING_ENVIRONMENT"]<br />

<h3>Environment Variables:</h3>
@Html.Raw(ViewData["ENV_VARS"])
<br />
<p>Running in a container now v 0.0.0.2</p>